NODE_ENV=development
PORT=3000

DB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/<dbname>?appName=<appName>

JWT_SECRET=<secreto_muy_largo_y_seguro_minimo_32_caracteres>
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=<secreto_refresh_muy_largo_y_seguro_minimo_32_caracteres>
JWT_REFRESH_EXPIRES_IN=7d

SLACK_WEBHOOK=https://hooks.slack.com/services/<T00000000>/<B00000000>/<token>

CLOUDINARY_CLOUD_NAME=<tu_cloud_name>
CLOUDINARY_API_KEY=<tu_api_key>
CLOUDINARY_API_SECRET=<tu_api_secret>

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=<tu@email.com>
MAIL_PASS=<tu_password_o_app_password>
